<html>
    <head>
        <title>Project2 CS50web</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </head>
    <body>
        <nav class="top">
            <b>Project 2 - CS50 Web </b>
            <ul>
                <li><a onclick="show_chan_list()">Channel List</a></li>
                <li><a onclick="dq('#content').className=(localStorage.getItem('dname')?'create':'login')">Create new Channel</a></li>
            </ul>
        </nav>

        <div id="content">
            <section id='list' class="card w66">
                <h1>Channel List</h1>
                <ul></ul>
            </section>
            
            <section id='create' class="card w66">
                <h1>Create a new channel</h1>
                <form class='w66'>
                    <p>Enter your new <strong>Channel Name</strong>.</p>
                    <p><input type="text" id="cname" value="" placeholder="Channel Name" autocomplete="off"></p>
                    <p><button type="button" class='nop'>Create Channel</button></p>
                </form>
            </section>
            
            <section id='talk' class='card w66'>
                <h3>Channel "<span class='cname'></span>"</h3>
                <ul></ul>
                <form>
                    <textarea id='msg'></textarea><button type="button">Send</button>
                    <small>
                        <b>*bold*</b> &nbsp; <i>_italic_</i> &nbsp; <span class='red'>`code`</span> &nbsp; 
                        <span class='gray'>```preformatted```</span>
                    </small>
                </form>
            </section>

            <section id="login" class="card w66">
                <h1>Sign in to Project 2</h1>
                <p>The Slack alike CS50 web Project</p>
                <form class='w66'>
                    <p>Enter your <strong>Display Name</strong>.</p>
                    <p><input type="text" id="dname" value="" placeholder="Short and Nice" autocomplete="off"></p>
                    <p><button type="button" class='nop'>Sign in</button></p>
                </form>
            </section>

            <section id="wback" class="card w66">
                <h1>Welcome Back</h1>
                <h1><big></big></h1>
                <p>&nbsp;</p>
                <p>Use the top nav to list the channel or to create a new one.</p>
                <p>&nbsp;</p>
                <p>What to start over or login as someone else?</p>
                <form class='w66'>
                    <p><button type="button">Login as someone else</button></p>
                </form>
            </section>
        </div>
    </body>
</html>